<h1>{{title}}</h1>

<form method="POST" action="">

  <div class="form-group">

    <label for="name">Category: </label>

    <input id="name" class="form-control" type="text" placeholder="Enter a Category" name="name" value="{{Category.name}}">

    
  <button class="btn btn-primary" type="submit"> Add+ </button>

</form>