<h1>{{title}}</h1>

<form method="POST" action="">
  <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" id="name" type="text" placeholder="Subject_name" name="name" required="true" value={{Subject.subject}}>
  </div>
 
  <button class="btn btn-primary" type="submit">Submit A++</button>
</form>
{{#if errors}}
<lable>Errors:</lable>
  <ul>
    {{#each errors}}
    <li>{{this.msg}}</li>
    {{/each}}
  </ul>
{{/if}}
