body {
  font-size: 0.875rem;
}

/* Feather icons sizing and alignment */
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* Sidebar Styles - Start */

/* .side{
  background-color: #343a40;
} */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}
/* Sidebar Styles - End */

/* Sidebar Stles - Responsive */
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.rules_list{
  margin: 20px 10px;
}

.rules_list .rules_list_title{
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.rules_list ul{
display: flex;
flex-direction: col-reverse;
/* justify-content: space-between; */
flex-wrap: wrap;

}
.rules_list ul li{
  display: flex;
  flex-direction: column;
  list-style: none;
  /* padding: 20px; */
  overflow: hidden;
  text-decoration: none;
  margin: 20px auto;
  width: 30%;
  height: 200px;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 10px 10px 20px 3px rgb(197, 195, 195);
}

.rules_list ul li a{
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  overflow: hidden;
  font-weight: 700;
  background-color: #343a40 ;
}
.rules_list ul li p{
  font-size: 14px;
  padding: 0px 10px;
}